<div class = 'container-fluid'>
  <div class = 'col-12'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src = '../assets/img/1.jpg' alt = "Randon first Slide">
          <div class = "carousel-caption">
            <h3>10 1111seconds bw slides</h3>
            <p>This 111111carousel uses customized default values</p>
          </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src = '../assets/img/2.jpg' alt = "Randon first Slide">
            <div class = "carousel-caption">
              <h3>10 22222seconds bw slides</h3>
              <p>This 2222carousel uses customized default values</p>
            </div>
      </ng-template> 
      <ng-template ngbSlide>
            <img src = '../assets/img/3.jpg' alt = "Randon first Slide">
              <div class = "carousel-caption">
                <h3>10 333seconds bw slides</h3>
                <p>This 333333carousel uses customized default values</p>
              </div>
      </ng-template>
      <ng-template ngbSlide>
              <img src = '../assets/img/4.jpg' alt = "Randon first Slide">
                <div class = "carousel-caption">
                  <h3>10 4444seconds bw slides</h3>
                  <p>This 44444carousel uses customized default values</p>
                </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src = '../assets/img/5.jpg' alt = "Randon first Slide">
            <div class = "carousel-caption">
              <h3>10 555555seconds bw slides</h3>
              <p>This 555555carousel uses customized default values</p>
            </div>
        </ng-template>     
    </ngb-carousel>
  </div>
</div>